<section class="parent-box">
  <p class="global">
    .global
  </p>
  <p class="global-important">
    .global-important
  </p>
  <p class="grandparent">
    .grandparent
  </p>
  <p class="grandparent-important">
    .grandparent-important
  </p>
  <p class="parent">
    .parent
  </p>
  <p class="emulated">
    .emulated
  </p>
  <p class="native">
    .native
  </p>
  <p class="none">
    .none
  </p>
</section>
<section class="box">
  <app-emulated></app-emulated>
</section>
<section class="box">
  <app-native></app-native>
</section>
<section class="box">
  <app-none></app-none>
</section>
