<main style="text-align:center">
  <h1>View Encapsulation</h1>
  <nav class="nav">
    <ul>
      <li>
        <a routerLinkActive="active" routerLink="emulated">Emulated</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="native">Native</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="none">None</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
  <hr>
  <p class="grandparent">
    .grandparent
  </p>
  <p class="grandparent-important">
    .grandparent-important
  </p>
</main>
